@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Libre+Baskerville&family=Montserrat:wght@400;800&display=swap');
body {
  margin: 0;
  font-family: "Abhaya Libre", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#nav{
  font-family: "Roboto Mono", monospace;
}
#navbar{
  display: flex;
  justify-content: flex-start;
  padding: 0px;
  margin-top: 10px;
  margin-left: 10px;
  max-height: 86px;
}
#term{
  color: #000;  
}
#term h2{
    font-size: 2em;
    font-weight: bolder;
}
#term b{
  font-size:larger ;
  font-weight: bolder;
}
#term ul li{
  list-style-type: none;
}
#policy{
  color: #000;
  box-sizing: border-box;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1140px;
}
#policy h2{
  box-sizing: border-box;
  font-size: 2em;
  margin: 20px 0;
}
#policy b{
  font-size:larger ;
  font-weight: bolder;
}
#policy ul li{
  list-style-type: none;
}

.img-thumbnails{
  display: block;
  max-width: 100%;
  width: 65px;
  height: 85px; ;
  background: none;
  opacity: 1;
  border: 0;
  margin: 0;
  padding: 0;
}
#para1{
  padding: 50px;
}
#para1 p{
  color: #000;
  font-family: Montserrat,serif;
  font-weight: 400;
  font-size: 110%;
  line-height: 1.5;
  display: flex;
  justify-content: center;
}
.flags{
  color: #000;
  font-family: Montserrat,serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-sizing: border-box;
}
.panel{
 font-family: Montserrat,serif;
 max-width: 33%;
 box-sizing: border-box;
 display: block;
 text-align: center;
 line-height: 1.4;
}
.img-thumbnail{
  box-sizing: border-box;
  border: none;
  width: 100px; 
  height: 130px;
}
.panel h2{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat,serif;
  font-weight: 800;
  font-size: 150%;
  line-height: 1.3;
  padding: 0 20%;
  margin-top: 20px;
  text-align: center;
  min-height: 100px;
  margin-bottom: 0;
}
.panel p{
  font-family: Montserrat,sans-serif;
  font-weight: 400;
  font-size: 110%;
  text-align: center;
  padding: 0 20%;
  margin-top: 10px;
}

#navbar{
  display: flex;
  justify-content: space-between;
}
#navbarNav{
display: flex;
justify-content: center;
padding-right: 100px;
padding-top: 50px;
}
#ulmenu{
  font-family: 'Abhaya Libre', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  display: flex;
  padding-right: 100px;
}
.nav-item{
  display: flex;
  padding-right: 80px;
}
#anchor{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 0px;
  margin-right: 0px;
  margin-top: 10px;
  margin-left: 10px;
}
#anchor h2{
  color: white;
  font-family: Montserrat,serif;
  font-style: normal;
  font-weight: 900;
  font-size: 38px;
  line-height: 20px;
  letter-spacing: .01em;
  display: flex;
  align-items: flex-end;
  margin-bottom: 0px;
  margin-top: 10px;
}
#anchor h3{
  color: white;
  font-family: Montserrat,serif;
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  display: flex;
  align-items: flex-start;
  margin-left: 2px;
}
#home{
  background: linear-gradient(rgb(247, 207, 1) 0%, rgb(64, 206, 201) 100%, rgb(108, 92, 231) 100%);
  color: #000;   
  max-width: 100%;
  max-height: 100%;
}
#homebox{
  padding-top: 50px;
  padding-left: 215px;
}
#homebox h5{
  font-family: Abhaya Libre,serif;
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 100%;
  line-height: 20px;
  font-style: normal;
  letter-spacing: 5px;
}
.body_line{
  border-bottom: 2px solid #000;
  width: 62px;
}
#homebox h1{
  font-family: Montserrat,sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 400%;
  line-height: 80px;
  margin-top: 20px;
}
#homebox h2{
    font-style: normal;
    font-weight: 400;
    font-family: Libre Baskerville,sans-serif;
    font-size: 350%;
}
.body_button{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #f7cf01;
  color: #000;
  width: 345px;
  height: 50px;
  border-radius: 23px;
  font-family: Montserrat,sans-serif;
  font-size: 20px;
  font-weight: 600;
  box-sizing: border-box;
  text-decoration: none;
}
#apple{
  padding-right: 25px;
}
#google{
  padding-bottom: 2px;
}