@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&family=Libre+Baskerville&family=Montserrat:wght@400;800&display=swap');
body {
  margin: 0;
  font-family: "Abhaya Libre", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#nav {
  font-family: "Roboto Mono", monospace;
  padding-top: 10px;
}
#term{
  color: #000;
  box-sizing: border-box;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1140px;
}
#term h2{
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bolder;
}
#term b{
  font-size:larger ;
  font-weight: bolder;
}
#term ul li{
  list-style-type: none;
}
#policy{
  color: #000;
  box-sizing: border-box;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1140px;
}
#policy b{
  font-size:larger ;
  font-weight: bolder;
}
#policy ul li{
  list-style-type: none;
}

.img-thumbnails{
  max-height: 65px; ;
  max-width: 86px ;
}
#para1 p{
  color: #000;
  padding: 30px;
  margin-bottom: 60px;
  font-family: Montserrat,serif;
  font-weight: 400;
  font-size: 110%;
  line-height: 1.5;
}
.flags{
  color: #000;
  font-family: Montserrat,serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
}
.panel{
 font-family: Montserrat,serif;
 max-width: 33%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-flow: column;
 text-align: center;
}
.panel h2{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat,serif;
  font-weight: 800;
  font-size: 150%;
  line-height: 1.3;
  padding: 0 25%;
  text-align: center;
  min-height: 120px;
  margin-bottom: 0;
}
.panel p{
  font-family: Montserrat,sans-serif;
    font-weight: 400;
    font-size: 110%;
    text-align: center;
    padding: 0 7rem;
    margin-top: 0;
}
.img-thumbnail{
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: relative;
  max-width: 100%;
}

.body_line{
  border-bottom: 2px solid #000;
    width: 62px;
}
#navbar{
  display: flex;
  margin-right: 12vh;
  margin-top: 10px;
  margin-left: 10px;
  justify-content: space-between;
}
#ulmenu{
  font-family: 'Abhaya Libre', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 23%;
  margin-top: 3rem;
  padding-bottom: 0;
}
#ulmenu li{
  margin-left: 5rem;
}
#anchor{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
#anchor h2{
  color: white;
  font-family: Montserrat,serif;
  font-style: normal;
  font-weight: 900;
  font-size: 38px;
  line-height: 20px;
  letter-spacing: .01em;
  padding-top: 10px;
  margin-bottom: 0px;
}
#anchor h3{
  color: white;
  font-family: Montserrat,serif;
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  margin-bottom: -10px;
  letter-spacing: .01em;
}
#home{
  background: linear-gradient(rgb(247, 207, 1) 0%, rgb(64, 206, 201) 99.99%, rgb(108, 92, 231) 100%);
  color: #000;
}
#homebox{
  padding-left: 55vh;
  padding-top: 13vh; 
}
#homebox h5{
  font-family: Abhaya Libre,serif;
  padding-bottom: 20px;
  font-size: 100%;
  line-height: 20px;
  font-style: normal;
  letter-spacing: 5px;
}
#homebox h1{
  padding-top: 10px;
  font-family: Montserrat,sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 400%;
  line-height: 80px;
}
#homebox h2{
   margin-inline: -3px;
   padding: 0;
    margin-top: 0;
    font-style: normal;
    font-weight: 400;
    font-family: Libre Baskerville,sans-serif;
    font-size: 350%;
    line-height: 70px;
    margin-bottom: 10px;
    max-width: 60%;
}
#apple{
  padding-right: 25px;
}
#google{
  padding-bottom: 2px;
}